@model FeedViewModel

@{
    ViewData["Title"] = "Feed";
}

<h1>Feed</h1>
<ul>
    <li>Owner: @Model.LoggedInUser.UserName</li>
</ul>

<table class="table table-bordered table-striped">
    <thead>
    <tr class="font-weight-bold">
        <td>Author</td>
        <td>Circle</td>
        <td>Content</td>
        <td>Creation Time</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var feedPost in Model.FeedPosts)
    {
        <tr>
            <td>@feedPost.AuthorName</td>
            @if (feedPost.IsPublic)
            {
                <td>Public</td>
            }
            else
            {
                <td>@feedPost.CircleId</td>
            }

            @if (feedPost.Type == "Image")
            {
                <td><img src="@feedPost.Content" style="max-height: 200px" /></td>
            }
            else //type = "text"
            {
                <td>@feedPost.Content</td>
            }

            <td>@feedPost.CreationTime.ToString("F")</td>

            <td>
                <ul>
                    @foreach (var comment in feedPost.Comments)
                    {

                        <li class="border">
                            <i>@comment.Content</i> <br />
                            <span style="font-size: 12px" class="font-weight-light">
                                Created: @comment.CreationTime.ToString("F") <br />
                                Author: @comment.AuthorName
                            </span>
                        </li>
                        @*<li style="font-size: 10px"><span class="font-weight-light">Created: @comment.CreationTime.ToString("F")</span></li>*@
                    }
                </ul>
                <a asp-controller="Create" asp-action="CreateComment"
                   asp-route-postId="@feedPost.Id"
                   asp-route-postAuthorId="@feedPost.AuthorId"
                   asp-route-commentAuthorId="@Model.LoggedInUser.Id"
                   asp-route-queryType="Feed">
                    Add comment
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

