@model WallViewModel

@{
    ViewData["Title"] = "Wall";
}

<h1>Wall</h1>
<ul>
    <li>Owner: @Model.OwnerUser.UserName</li>
    <li>Guest: @Model.GuestUser.UserName</li>
</ul>

<table class="table table-bordered table-striped">
    <thead>
    <tr class="font-weight-bold">
        <td>Author</td>
        <td>Circle</td>
        <td>Content</td>
        <td>Creation Time</td>
        <td>Comments</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var wallPost in Model.WallPosts)
    {
        <tr>
            <td>@wallPost.AuthorName</td>
            @if (wallPost.IsPublic)
            {
                <td>Public</td>
            }
            else
            {
                <td>@wallPost.CircleId</td>
            }

            @if (wallPost.Type == "Image")
            {
                <td><img src="@wallPost.Content" style="max-height: 200px" /></td>
            }
            else //type = "Text"
            {
                <td>@wallPost.Content</td>
            }

            <td>@wallPost.CreationTime.ToString("F")</td>

            <td>
                <ul>
                    @foreach (var comment in wallPost.Comments)
                    {

                        <li class="border">
                            <i>@comment.Content</i> <br />
                            <span style="font-size: 12px" class="font-weight-light">
                                Created: @comment.CreationTime.ToString("F") <br />
                                Author: @comment.AuthorName
                            </span>
                        </li>
                    }
                </ul>
                <a asp-controller="Create" asp-action="CreateComment"
                   asp-route-postId="@wallPost.Id"
                   asp-route-postAuthorId="@wallPost.AuthorId"
                   asp-route-commentAuthorId="@Model.GuestUser.Id"
                   asp-route-queryType="Wall"
                   asp-route-wallOwnerId="@Model.OwnerUser.Id">
                    Add comment
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

